---
import HeaderLink from '@/components/HeaderLink'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'
import { SOCIALNETWORKS } from '@/data/links'
import { siteConfig } from '@/site-config'
import Translate from './Translate.astro'
import { useTranslations } from '../i18n/utils'
import LocalizedLink from './LocalizedLink.astro'
import Dropdown from './Dropdown.astro'
import { getRelativeLocaleUrlList } from 'astro:i18n'
import LanguageSelection from './Locales/LanguageSelection.astro'

const t = useTranslations(Astro.currentLocale)
---

<header class='relative flex items-center font-semibold'>
	<LocalizedLink
		class='mr-auto flex w-full justify-start items-center gap-4'
		path='/'
		locale={Astro.currentLocale}
	>
		<img
			class='rounded-full'
			width='64'
			height='64'
			src={siteConfig.siteLogo}
			alt={t('site.logo.alt')}
		/>
		<div class='text-3xl md:text-5xl'>{t('site.title')}</div>
	</LocalizedLink>

	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-0 -right-5 pl-4 pt-6 pb-4 md:p-0 h-screen w-[250px] z-50'
	>
		<nav
			class='flex h-full flex-col justify-between gap-12 text-left md:flex-row md:w-full md:gap-5'
		>
			<div
				class='flex flex-col gap-4 md:flex-row md:border-r-2 border-black pr-4 dark:border-white'
			>
				<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
					<TagIcon />
					{t('nav.tags')}
				</HeaderLink>
				<LanguageSelection />
			</div>

			<div class='flex justify-center items-center md:justify-end gap-3 md:p-0'>
				{
					SOCIALNETWORKS.map(
						(network) =>
							!network.draft && (
								<HeaderLink
									class=''
									href={network.url}
									target='_blank'
									aria-label={t('nav.social.aria', { name: network.name })}
								>
									<span>{<network.icon />} </span>
								</HeaderLink>
							)
					)
				}
			</div>
		</nav>
	</div>

	<div class='flex items-center gap-3 md:pl-3' transition:persist='navbar'>
		<div>
			<Search />
		</div>
		<ToggleTheme aria-label={t('nav.toggle_theme')} />
		<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
			<MenuIcon />
			<span class='sr-only'>{t('nav.menu')}</span>
		</button>
	</div>
</header>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
