---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getTags } from '@/utils'
import type { GetStaticPaths } from 'astro'
import { getRelativeLocaleUrlList } from 'astro:i18n'
import LocalizedLink from '@/components/LocalizedLink'
import { useTranslations } from 'src/i18n/utils'

const tags = await getTags()

export const getStaticPaths = (() => {
	const paths = getRelativeLocaleUrlList()

	return paths.flatMap((locale) => {
		return {
			params: { locale: locale.split('/')[1] }
		}
	})
}) satisfies GetStaticPaths

const t = useTranslations(Astro.currentLocale)
---

<BaseLayout title={t('page.tags.title')} '>
	<TitlePage title={t('page.tags.title')} />
	<div class='flex justify-center flex-wrap gap-4'>
		{
			tags.map((tag) => (
				<LocalizedLink
					path={`/tags/${tag}`}
					locale={Astro.currentLocale}
					class='inline-block bg-gray-200 max-h-[32px] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
				>
					#{tag}
				</LocalizedLink>
			))
		}
	</div>
</BaseLayout>
